<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Добавить инцидент</title>
</head>
<body>
<div class="container">
    <div class="row pt-3">
        <h1>Добавить инцидент</h1>
    </div>
    <div class="row pt-3">
        <form th:action="@{/create}" method='POST'>
            <div class="form-group">
                <label>Название:
                    <input type='text' name='name' class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>Описание:
                    <input type='text' name='text' class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>Адрес:
                    <input type='text' name='address' class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>Тип:
                    <select name="type.id" class="form-control">
                        <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
                    </select>
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>