<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Редактировать инцидент</title>
</head>
<body>
<div class="container">
    <div class="row pt-3">
        <h1>Редактировать инцидент</h1>
    </div>
    <div class="row pt-3">
        <form th:action="@{/update}" method="POST" th:object="${accident}">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label>Название:
                    <input type="text" class="form-control" th:field="*{name}">
                </label>
            </div>
            <div class="form-group">
                <label>Описание:
                    <input type="text" class="form-control" th:field="*{text}">
                </label>
            </div>
            <div class="form-group">
                <label>Адрес:
                    <input type="text" class="form-control" th:field="*{address}">
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>